//
//  Specific styles for 600 screen size
//
html,
body {
  font-size: 16px;
}

.page-container {
  overflow: hidden;
  padding: 0 30px;
}

// ---------------------------------------------------------
// -- content styles ---------------------------------------
.content-panel {
  .content {
    float: left;
    width: 75%;
  }
}

.aside {
  float: right;
  font-size: .65em;
  padding-top: 10px;
  text-align: left;
  width: 20%;
}

.aside-blog-post {
  padding-top: 10px;

  p {
    span {
      display: block;
      margin-bottom: 7px;
    }
  }
}

