//
//  Specific styles for 992 screen size
//
html,
body {
  font-size: 18px;
}

.page-container {
  overflow: hidden;
}


// ---------------------------------------------------------
// -- content styles ---------------------------------------
.content-panel {
  .content {
    float: left;
    width: 75%;

    p {
      padding: 0;
    }

    .title {
      margin: 0;
      padding-left: 5px;
      padding-top: 10px;
    }
  }
}

.aside {
  float: right;
  font-size: .65em;
  padding-top: 10px;
  text-align: left;
  width: 20%;

  p {
    padding: 0 10px 0 0;
  }

  .twitter-aside {
    float: left;
    padding-top: 5px;

    span {
      display: block;
      margin-bottom: 7px;
    }
  }
}

.aside-blog-post {
  margin: 0;
  padding-top: 10px;

  p span {
    display: block;
    margin-bottom: 7px;
  }
}


.archive-list-container {
  padding-bottom: 50px;

  .content-archive {
    overflow: hidden;

    .year {
      float: left;
      font-size: 2.3em;
      margin: 0;
      padding: 0;
      text-align: left;
      width: 16%;
    }

    .archive {
      float: left;
      width: 75%;
    }
  }
}

