//
//  sass variables for jshamsul.com
//

//
//  Greyscale colors
//
$black:         #111;
$grey-dark:     lighten($black, 25%);
$grey-normal:   lighten($black, 50%);
$grey-light:    lighten($black, 75%);
$grey-lighter:  lighten($black, 90%);
$white:         #fff;

$body-color:    $grey-lighter;
$text-color:    $black;

//
//  Typography
//
$font-serif:        Poly, Georgia, "Times New Roman", Times, serif;
$font-sans:         "open sans", sans-serif;
$font-monospace:    Monaco, "Courier New", monospace;
$base-font:         $font-serif;
$base-font-size:    14px;
$base-line-height:  1.5;

$alt-font:          $font-sans;
