//
//  Main style sheet for jshamsul.com
//

@import 'normalize';
@import 'variables';
@import 'mixins';

// ---------------------------------------------------------
// -- layout container -------------------------------------
html,
body {
  background-color: $grey-light;
  font-family: $base-font;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;
}

.page-container {
  margin: auto;
  max-width: 900px;
  padding: 0 20px;
  width: auto;
}

a {
  text-decoration: none;
}

.highlight pre {
  font-size: .8em;
  padding: 10px;
}

img {
  width: 100%;
}

code,
pre {
  font-size: .7em;
  white-space: pre;
}

// ---------------------------------------------------------
// -- header styles ----------------------------------------
.header-container {
  background-color: $black;
  color: darken($white, 5%);
  font-family: $alt-font;
  overflow: hidden;
  padding: $base-font-size 0;

  a {
    color: $white;
    font-size: .8em;
    font-weight: 200;
    text-decoration: none;
    text-shadow: 1px 1px 1px $black;
  }

  .left {
    float: left;
    width: 20%;
  }

  .right {
    float: right;
    text-align: right;
    width: 80%;
  }
}

// ---------------------------------------------------------
// -- content container styles -----------------------------
.content-panel {
  background-color: $white;
  color: $grey-dark;
  line-height: 1.5;
  padding: 20px 0 5px;

  .big-title {
    color: $black;
    font-size: 4em;
  }

  .title {
    color: $black;
    font-size: 2.5em;
  }

  .content-archive,
  .content a {
    border-bottom: 1px solid $grey-light;
    color: $black;

    &:hover {
      background-color: #f8f8cc;
    }
  }

  .aside {
    font-family: $alt-font;
    font-size: .8em;
    text-align: right;

    .link,
    .label {
      display: block;
    }

    .label {
      font-size: .9em;
      font-weight: 600;
      padding-bottom: 5px;
      text-transform: uppercase;
    }

    .link {
      color: darken(#55b8d4, 10%);
    }
  }
}

.separator {
  background-color: $white;
  overflow: hidden;
}

.link-list,
.blog-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    margin-bottom: 5px;
    overflow: hidden;

    .date {
      color: $grey-normal;
    }
  }
}

hr {
  border: 0;
  border-top: 1px solid #eee;
}

.post-content-container {
  color: $grey-dark;

  blockquote {
    color: lighten($grey-dark, 10%);
    font-size: 1.1em;
    font-style: italic;
  }

  .aside {
    text-align: right;
  }
}

.footer-container {
  .page-container {
    background-color: $grey-light;
    font-family: $alt-font;
    font-size: .8em;
    padding-bottom: 20px;
    padding-top: 20px;
  }
}

.link-list-container,
.related-post-container,
.archive-list-container,
.blog-list-container {
  padding-bottom: 50px;
}

.archive-list-container {
  .content-archive {
    overflow: hidden;

    .year {
      font-size: 2.3em;
      margin: 0;
      padding: 0;
      text-align: left;
    }
  }
}

// ---------------------------------------------------------
// -- media queries ----------------------------------------

// -- 480px
@media only screen and (min-width: 480px) {
  @import '480';
}

// -- 600px
@media only screen and (min-width: 600px) {
  @import '600';
}

// -- 768px
@media only screen and (min-width: 768px) {
  @import '768';
}

// -- 992
@media only screen and (min-width: 992px) {
  @import '992';
}

// -- 1382px
@media only screen and (min-width: 1382) {
  @import '1382';
}


