<!-- Footer container start -->
<div class="footer-container">
  <div class="page-container">
    <p>Copyright © 2010 - 2018 jShamsul.com. All Rights Reserved. </p>
  </div>
</div><!-- Footer container ends -->
