<!-- Header top bar container start -->
<div class="header-container">
  <div class="page-container">
    <div class="left">
      <a href="/" class="webtitle">jShamsul.com</a>
    </div>

    <div class="right">
      <%= link_to 'Home', '/' %> /
      <%= link_to 'About', '/about' %> /
      <%= link_to 'Now', '/now' %>
      <!-- Not ready yet
      <%= link_to 'Archive', '/blog' %>
      -->
    </div>
  </div>
</div><!-- Header top bar container ends -->
