---
title: JShamsul - About
---

  <!-- main title container start -->
  <div class="content-panel greetings-container">
    <div class="page-container">
      <div class="content">
        <p class="title">About me</p>
      </div>
    </div>
  </div><!-- main title container ends -->

  <!-- about container start -->
  <div class="content-panel about-container">
    <div class="page-container">
      <div class="content">

        <p>My name is <strong>J. Shamsul Bahri</strong>. I am a full stack
        <strong>Web Developer</strong> from Kuala Lumpur, Malaysia, currently
        based in Singapore. I enjoy making web apps for both fun and profit
        using JavaScript, PHP and Ruby.</p>

        <p>I used to ran an online web publications, better 
        known as ‘webzines’ – <a href="http://jiboneus.com">jiboneus.com</a> 
        and <a href="http://wirawanweb.com">wirawanweb.com</a>. Both of these
        websites are no longer being updated.</p>

        <p>Read the <a href="/colophon">colophon</a> to know more about this
        website.</p>

        <p>Check out the <a href="/archive">archive</a> for my previous
        posts.</p>

      </div>
      <div class="aside">
        <!-- follow twitter aside container start -->
        <div class="twitter-aside">
          <p>
          <span>The best way to get in touch with me is on Twitter.</span>
          <span>Even thought I do not tweet ad often, but I always reply.</span>
          <span>
            <a href="https://twitter.com/jibone"
               class="twitter-follow-button"
               data-show-count="false">Follow @jibone</a>
            <script>
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],
              p=/^http:/.test(d.location)?'http':'https';
              if(!d.getElementById(id)){js=d.createElement(s);
              js.id=id;js.src=p+'://platform.twitter.com/widgets.js';
              fjs.parentNode.insertBefore(js,fjs);
              }}(document, 'script', 'twitter-wjs');
            </script>
          </span>
          </p>
        </div><!-- follow twitter aside container ends -->
      </div>
    </div>
  </div><!-- about container ends -->
