---
title: JShamsul - About
---

  <!-- main title container start -->
  <div class="content-panel greetings-container">
    <div class="page-container">
      <div class="content">
        <p class="title">About</p>
      </div>
    </div>
  </div><!-- main title container ends -->

  <!-- about container start -->
  <div class="content-panel about-container">
    <div class="page-container">
      <div class="content">

        <h3>The person</h3>

        <p>J. Shamsul Bahri believes that talking in third-person is necessary
        when writing an about page. He is a software engineer from Kuala Lumpur,
        Malaysia currently living and working in Singapore. A husband to a
        beautiful wife and a father to an adorable daughter</p>

        <p>He does not believe in "eat, sleep, code and repeat." While he is
        passionate about writing code and equally passionate about both eating
        and sleeping, that is not all that he does. He plays video games, read
        comics, drinks coffee, watches movies, listens to music, builds
        mechanical keyboards, and other random super cool stuff.</p>

        <h3>The website</h3>

        <p>The purpose of this site is to serve as a definitive online presence
        for J. Shamsul.</p>

        <p>This site is created using a static site generator,
        <a href="https://middlemanapp.com">Middleman</a>. Codes are on
        <a href="https://github.com/jibone/JShamsul.com">Github</a>.</p>

      </div>
      <div class="aside">
        <!-- follow twitter aside container start -->
        <div class="twitter-aside">
          <p>
          <span>The best way to get in touch with me is on Twitter.</span>
          <span>I may not tweet that often, but I always reply to DMs.</span>
          <span>
            <a href="https://twitter.com/jibone"
               class="twitter-follow-button"
               data-show-count="false">Follow @jibone</a>
            <script>
              !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],
              p=/^http:/.test(d.location)?'http':'https';
              if(!d.getElementById(id)){js=d.createElement(s);
              js.id=id;js.src=p+'://platform.twitter.com/widgets.js';
              fjs.parentNode.insertBefore(js,fjs);
              }}(document, 'script', 'twitter-wjs');
            </script>
          </span>
          </p>
        </div><!-- follow twitter aside container ends -->
      </div>
    </div>
  </div><!-- about container ends -->
