---
title: JShamsul.com - Now
---

  <!-- Greetings container start -->
  <div class="content-panel greetings-container">
    <div class="page-container">
      <div class="title">What Am I Doing Now?</div>
    </div>
  </div>
  <!-- Greatings container ends -->

  <!-- Now page container start -->
  <div class="content-panel">
    <div class="page-container">
      <div class="content">
        <p><strong>Location</strong>: Singapore</p>

        <p><strong>Working</strong>: Software Engineer at Grab</p>

        <p><strong>Learning</strong>: Building a blog with static site generator
        Middleman</p>
        <p>
          <strong>Reading</strong>:
          <ul>
            <li>Armada by</li>
            <li>Mystical Man-Month by </li>
          </ul>
        </p>

        <p>
          <strong>Playing</strong>:
          <ul>
            <li>Splatoon 2</li>
            <li>Darkest Dungeon</li>
          </ul>
        </p>

        <p>Last update, <u>22nd April 2018</u>.</p>

        <p><em>(This is a <strong>now page</strong>, and if you have your own
        site, <a href="https://nownownow.com/about">you should make one</a>,
        too.)</em></p>
      </div>
    </div>
  </div><!-- Now page container ends -->
